<ion-header>
  <ion-img src="assets/images/habilities/banner.png"></ion-img>
</ion-header>
<ion-content margin-top>
  <ion-card (click)="goDetail()">
    <ion-card-content>
      <ion-text color="secondary">
        <h1>Awesome text</h1>
      </ion-text>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus dolorem fugiat vitae nulla rem amet magnam adipisci tempore eveniet, voluptates ad sit commodi hic impedit eligendi, aspernatur, sunt earum iste.</p>
      <ion-button color="secondary" fill="clear" float-right>
        <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-text color="secondary">
        <h1>Awesome text</h1>
      </ion-text>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus dolorem fugiat vitae nulla rem amet magnam adipisci tempore eveniet, voluptates ad sit commodi hic impedit eligendi, aspernatur, sunt earum iste.</p>
      <ion-button color="secondary" fill="clear" float-right>
        <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-text color="secondary">
        <h1>Awesome text</h1>
      </ion-text>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus dolorem fugiat vitae nulla rem amet magnam adipisci tempore eveniet, voluptates ad sit commodi hic impedit eligendi, aspernatur, sunt earum iste.</p>
      <ion-button color="secondary" fill="clear" float-right>
        <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
